
body {
  padding-top: 70px;
}

#card-list-panel .panel-body {
  background-color: #f5f5f7;
}

#card-list th {
  white-space: nowrap;
  background-color: #fbf6ef;
}

@media (min-width: 768px) {
  .input-width-1 {
    width: 8.3333333333%;
  }

  .input-width-2 {
    width: 16.666666666666664%;
  }

  .input-width-6 {
    width: 50%;
  }
}
