
body {
  padding-top: 70px;
}

#card-list th {
  white-space: nowrap;
  background-color: #fbf6ef;
}

@media (max-width: 768px - 1) {
  .input-width-1 {
    width: 8.3333333333%;
  }

  .input-width-2 {
    width: 16.666666666666664%;
  }

  .input-width-3 {
    width: (100%) / 4;
  }

  .input-width-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .input-width-1 {
    width: 8.3333333333%;
  }

  .input-width-2 {
    width: 16.666666666666664%;
  }

  .input-width-3 {
    width: (100%) / 4;
  }

  .input-width-6 {
    width: 50%;
  }
}

.force-inline {
  display: inline-block;
}

