<div class="container">
  <div class="panel panel-default col-sm-5">
    <div class="panel-body">
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        <div class="form-group">
          <label>Login id</label>
          <input type="text" name="loginId" class="form-control" placeholder="Enter login id" ng-model="loginId" ng-minlength="4" required>
          <div ng-show="form.loginId.$dirty && form.loginId.$invalid">4文字以上で入力してください</div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" name="loginPassword" class="form-control" placeholder="Password" ng-model="loginPassword" ng-minlength="6" required>
          <div ng-show="form.loginPassword.$dirty && form.loginPassword.$invalid">6文字以上で入力してください</div>
        </div>

        <button type="submit" class="btn btn-primary" ng-class="{'disabled': processing}">ログイン</button>
        <button type="button" class="col-sm-offset-1 btn btn-warning" ng-click="userRegistration(form)" ng-class="{'disabled': processing}">ユーザー登録</button>
      </form>
    </div>
  </div>
</div>
