<div ng-include="'views/header.html'"></div>

<div class="container">

  <div class="panel panel-default" id="card-list-panel">
    <div class="panel-body">
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="searchWord" placeholder="キーワード">
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="searchSelector.region"
            ng-options="prefecture for prefecture in prefectures">
            <option value="">全ての県</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="searchRegion"
            ng-options="region for region in regions">
            <option value="">全ての地方</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="searchSelector.type"
            ng-options="type for type in cardTypes">
            <option value="">全てのタイプ</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" ng-model="searchRarity"
            ng-options="rare for rare in rarities">
            <option value="">全てのレア度</option>
          </select>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click="fetchCardList(true)"><i class="fa fa-refresh"></i></button>
          <button type="button" class="btn btn-default" ng-click="deleteCard()"><i class="fa fa-trash-o"></i></button>
          <button type="button" class="btn btn-default" ng-csv="csvData()" filename='card.csv'><i class="fa fa-download"> CSV</i></button>
          <label>{{filteredCards.length}}件</label>
        </div>
        <div class="form-group">
          <img src="images/loading.gif" ng-show="loading">
        </div>
      </form>
    </div><!-- /.panel-body -->

    <table id="card-list" class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th><input type="checkbox" ng-model="checkboxAll" ng-change="toggleAll()"></th>
          <th>名前 <a href ng-click="sort('name')"><i class="fa" ng-class="sortClass('name')"></i></a></th>
          <th>レア <a href ng-click="sort('rarity')"><i class="fa" ng-class="sortClass('rarity')"></i></a></th>
          <th>地域 <a href ng-click="sort('region')"><i class="fa" ng-class="sortClass('region')"></i></a></th>
          <th class="hidden-xs">Lv <a href ng-click="sort('level')"><i class="fa" ng-class="sortClass('level')"></i></a></th>
          <th>コスト <a href ng-click="sort('cost')"><i class="fa" ng-class="sortClass('cost')"></i></a></th>
          <th>攻撃 <a href ng-click="sort('attack')"><i class="fa" ng-class="sortClass('attack')"></i></a></th>
          <th>防御 <a href ng-click="sort('defence')"><i class="fa" ng-class="sortClass('defence')"></i></a></th>
          <th>タイプ <a href ng-click="sort('type')"><i class="fa" ng-class="sortClass('type')"></i></a></th>
          <th class="hidden-xs hidden-sm">スキル <a href ng-click="sort('skill')"><i class="fa" ng-class="sortClass('skill')"></i></a></th>
          <th class="hidden-xs hidden-sm">スキルLv <a href ng-click="sort('skillLevel')"><i class="fa" ng-class="sortClass('skillLevel')"></i></a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="card in filteredCards = (cards | filter:searchWord | filter:searchSelector:strictComparator | filter:regionFilterFunc | filter:rarityFilterFunc | orderBy:predicate:reverse)">
          <td><input type="checkbox" ng-model="card.selected"></td>
          <td><a href="#/card/{{card.object.id}}">{{card.name}}</a></td>
          <td>{{card.rarity | rarity}}</td>
          <td>{{card.region}}</td>
          <td class="hidden-xs">{{card.level}}/{{card.maxLevel}}</td>
          <td>{{card.cost}}</td>
          <td>{{card.attack}}</td>
          <td>{{card.defence}}</td>
          <td>{{card.type}}</td>
          <td class="hidden-xs hidden-sm">{{card.skill}}</td>
          <td class="hidden-xs hidden-sm">{{card.skillLevel}}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.panel -->

</div><!-- /.container -->
