<div class="container">
  <div class="row">
    <button type="button" class="col-sm-offset-8 btn btn-default" ng-csv="csvData()" filename='card.csv'><i class="fa fa-download"> CSV</i></button>
    <button type="button" class="btn btn-default" ng-click="logout()"><i class="fa fa-sign-out"> ログアウト</i></button>
  </div>

  <div class="row">
    <input type="text" ng-model="searchWord">
  </div>
  
  <div class="row">
    <table id="sortable-1" class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>名前 <a href ng-click="sort('name')"><i class="fa" ng-class="sortClass('name')"></i></a></th>
          <th>レア度 <a href ng-click="sort('rarity')"><i class="fa" ng-class="sortClass('rarity')"></i></a></th>
          <th>地域 <a href ng-click="sort('region')"><i class="fa" ng-class="sortClass('region')"></i></a></th>
          <th>Lv <a href ng-click="sort('level')"><i class="fa" ng-class="sortClass('level')"></i></a></th>
          <th>Cost <a href ng-click="sort('cost')"><i class="fa" ng-class="sortClass('cost')"></i></a></th>
          <th>Attack <a href ng-click="sort('attack')"><i class="fa" ng-class="sortClass('attack')"></i></a></th>
          <th>Defence <a href ng-click="sort('defence')"><i class="fa" ng-class="sortClass('defence')"></i></a></th>
          <th>Type <a href ng-click="sort('type')"><i class="fa" ng-class="sortClass('type')"></i></a></th>
          <th>skill <a href ng-click="sort('skill')"><i class="fa" ng-class="sortClass('skill')"></i></a></th>
          <th>skillLevel <a href ng-click="sort('skillLevel')"><i class="fa" ng-class="sortClass('skillLevel')"></i></a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items | filter:searchWord | orderBy:predicate:reverse">
          <td>{{item.name}}</td>
          <td>{{item.rarity | rarity}}</td>
          <td>{{item.region}}</td>
          <td>{{item.level}}/{{item.maxLevel}}</td>
          <td>{{item.cost}}</td>
          <td>{{item.attack}}</td>
          <td>{{item.defence}}</td>
          <td>{{item.type}}</td>
          <td>{{item.skill}}</td>
          <td>{{item.skillLevel}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
